
*.pyc
*.png
*.coverage

/src/spei.egg-info
/dist
/doc/references

/.vscode
/.mypy_cache
/.tox
/.pytest_cache
/htmlcov
coverage.xml
*.code-workspace
uv.lock
/paper/literature
paper/data/meteo_synthetic_heads.csv
paper/data/synthetic_heads.csv
paper/create_data.py
